{% extends "network/layout.html" %} 
{% block body %} 
{%if user.is_authenticated %}
   <form action ="{%url 'tweet'%}" method="post" id="tweet-form">
      {% csrf_token %}
      <div id="tweetbox" class="wrapper">
         <div class="input-box">
            <h6> Tweet your mind out </h6>
            <div class="tweet-area">
               <span class="placeholder"></span>
               <textarea id="content"
                  required
                  name="content"
                  cols="30" 
                  rows="10"
               ></textarea>
            </div>
         </div>
         <div class="bottom">
            <div class="content">
               <input class="btn btn-primary" value="Tweet" type="submit"/>
            </div>
         </div>
      </div>
   </form>
{%endif%}
<div id="home">
</div>
{% endblock %}
